print("Hello")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_excel('C:/Users/Dell/Desktop/dataanalytics/newdata.xlsx')

In [ ]:
print(df.head()) #print the top  5 rows

In [16]:
print(df.shape) #gives the no. of rows and the columns in the file

(3102, 17)

In [17]:
print(df.columns)

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg',
       'company_name', 'job_skills', 'month_rs'],
      dtype='object')

In [18]:
print(df.dtypes)

job_title_short                  object
job_title                        object
job_location                     object
job_via                          object
job_schedule_type                object
job_work_from_home                 bool
search_location                  object
job_posted_date          datetime64[ns]
job_no_degree_mention              bool
job_health_insurance               bool
job_country                      object
salary_rate                      object
salary_year_avg                 float64
salary_hour_avg                 float64
company_name                     object
job_skills                       object
month_rs                        float64
dtype: object

In [20]:
newCol1 = df['month_rs']
print(newCol1)

0       218.810916
1       153.508772
2        85.894737
3         0.000000
4       103.118908
           ...
3097      0.000000
3098     77.902930
3099    143.762183
3100     55.068226
3101      0.000000
Name: month_rs, Length: 3102, dtype: float64

In [22]:
subset = df[['company_name','job_country','job_skills','month_rs']]
print(subset.head())

         company_name    job_country  \
0              TikTok  United States
1              TikTok  United States
2           digiRocks         France
3  UnitedHealth Group  United States
4  Cox Communications  United States

                                          job_skills    month_rs
0                   ['r', 'python', 'matlab', 'sql']  218.810916
1                                  ['sql', 'python']  153.508772
2  ['python', 'c++', 'pytorch', 'tensorflow', 'ke...   85.894737
3  ['r', 'python', 'vba', 'sas', 'sas', 'sql', 'd...    0.000000
4  ['sql', 'python', 'aws', 'pandas', 'numpy', 's...  103.118908

In [23]:
print(subset.loc[0])

company_name                              TikTok
job_country                        United States
job_skills      ['r', 'python', 'matlab', 'sql']
month_rs                              218.810916
Name: 0, dtype: object